body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    print-color-adjust: exact;
    background-image: linear-gradient(to bottom,#fff, transparent), url("../img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background: #5cb85c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background: #4cae4c;
}

.result-container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.qr-code {
    margin-top: 20px;
}
@media print {
    .container {
        width: 100% !important;
    }
    button {
        display: none !important;
    }

    .card {
        background: url('../img/brasao.jpg') no-repeat center center;
        background-size: auto 80%;
        background-color: white;
    }
}

@media (max-width: 480px) {
    .container {
        width: 100% !important;
    }

}

.card {
    background: url('../img/brasao.jpg') no-repeat center center;
    background-size: auto 80%;
    background-color: white;
}